html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
td {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background: url("./gift-bg.jpg") left bottom no-repeat;
}

.reward__bg-table {
    background: #000;
    opacity: 0.15;
    position: absolute;
    width: 866px;
    height: 337px;
    top: 100px;
    left: 100px;
}

.dark__bar {
    background: #0e1116;
}

.reward__table {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 866px;
    height: 337px;
    color: white;
    font-size: 14px;
    border: none;
    border-spacing: 0;
}


.activity__bg-table {
    background: #000;
    opacity: 0.15;
    position: absolute;
    width: 866px;
    height: 294px;
    top: 600px;
    left: 100px;
}

.activity__table {
    position: absolute;
    top: 600px;
    left: 100px;
    width: 866px;
    height: 294px;
    color: white;
    font-size: 14px;
    border: none;
    border-spacing: 0;

    td {
        padding-left: 20px;
    }
}

.column__title {
    font-size: 14px;
    color: #797a87;
    width: 118px;
    padding-left: 20px;
}

.slash {
    width: 1px;
    height: 18px;
    background-color: #797a87;
    display: inline-block;
    position: relative;
    top: 4px;
    transform: rotate(25deg);
    margin-left: 10px;
}

.row__title {
    font-size: 14px;
    color: #b4a785;

    strong {
        font-size: 16px;
        font-weight: bold;
    }
}

.avtivity__row {
    width: 160px;
}

.highlight__number {
    color: #b4a785;
    margin-left: 2px;
    margin-right: 2px;
}

.reward__icons {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
    max-width: 100%;
    background-size: 100%;
    background-image: url('icons.png');
}

.icon_qiqiao {
    background-position: 0 0%;
}

.icon_wujin {
    background-position: 0 12.5%;
}

.icon_yunjuan {
    background-position: 0 25%;
}

.icon_tiannu {
    background-position: 0 37.5%;
}

.icon_tianshen {
    background-position: 0 50%;
}

.icon_shenge {
    background-position: 0 62.5%;
}

.icon_yubi {
    background-position: 0 75%;
}

.icon_qinglian {
    background-position: 0 87.5%;
}

.icon_yugan {
    background-position: 0 100%;
}

.box__container {
    position: absolute;
    width: 51px;
    height: 51px;

    overflow: hidden;
    cursor: pointer;

    &:hover {
        .line1 {
            left: 0;
        }

        .line2 {
            top: 0;
        }

        .line3 {
            left: 0;
        }

        .line4 {
            top: 0;
        }
    }
}

.return__box {
    top: 100px;
    left: 1200px;
    background: url("/imgs/return-bg.png");
}

.close__box {
    top: 100px;
    left: 1400px;
    background: url("/imgs/box-bg.png");

    .close__icon {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        margin-top: -12.5px;
        left: 50%;
        margin-left: -12.5px;
        background: url("/imgs/close-icon.png");
        transition: all 1s ease;
    }

    &:hover {
        .close__icon {
            transform: rotate(180deg);
        }
    }
}

.border__line {
    position: absolute;
    background-color: white;
    transition: all .5s ease;
    width: 1px;
    height: 1px;
}

.line1 {
    width: 51px;
    top: 0;
    left: -50px;
}

.line2 {
    top: -50px;
    left: 50px;
    height: 51px;
}

.line3 {
    top: 50px;
    left: 50px;
    width: 51px;
}

.line4 {
    top: 50px;
    left: 0;
    height: 51px;
}
